<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Zoomegle</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="icon" href='/images/browsericon.png'>

  <link rel="stylesheet" href="/stylesheets/index.css">

  <div class="header">
    <h1>
      <!--insert logo image here-->
      Zoomegle
    </h1>
  </div>

</head>

<body>
  <script src="/scripts/index.js"></script>
  <!-- <a href="https://nyu.zoom.us/j/273586729">Discrete Math Lecture</a> -->
  <div class = "tab">
    <% for(var subject of subjects) { %>
    <button class = "tablinks" onclick="openClass"(event, <%= subject.name %>>
      <%= subjects[0].name %>
    </button>
  
    <%}%>
  </div>

  <%= subjects[0].name %> 
  <a href="/subjects/<%= subjects[0]._id %>"> --course description--</a>

  <div id = "<%= subjects[0].name %>" class = tabcontent>
    <h3><%= subjects[0].name %></h3>
  </div>
  
</body>
</html>